# Bitcoin Core RPC
# -------------------
# Example for a local node:
# BTC_RPC_HOST=127.0.0.1
# BTC_RPC_PORT=8332
# BTC_RPC_USER=your_rpc_user
# BTC_RPC_PASS=your_rpc_password
# BTC_RPC_DISABLE_TLS=true
# SOCKS5_PROXY=

# Example for a Tor node:
BTC_RPC_HOST=your_tor_address.onion
BTC_RPC_PORT=8332
BTC_RPC_USER=your_rpc_user
BTC_RPC_PASS=your_rpc_password
BTC_RPC_DISABLE_TLS=false
SOCKS5_PROXY=127.0.0.1:9050

# Postgres Database
# -------------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=bitcoin
